.layout {
  position: relative;
}

.header {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% / 2 + var(--content-width) / 2 + 24px);
}

.main {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 128px;
  width: var(--content-width);
  padding: 256px 80px;

  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.footer {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% / 2 + var(--content-width) / 2 + 24px);
}

@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
    padding: 24px;
    background: linear-gradient(0deg, transparent, black);
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }

  .footer {
    width: 100%;
    padding: 24px;
    background: linear-gradient(0deg, black, transparent);
    top: unset;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding: 128px 48px;
  }
}
