.layout-link {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 52px;
  height: 52px;

  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);

  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--text-750);
    background-color: var(--border);

    .layout-link__popover {
      padding: var(--space-sm);
      font-size: var(--fs-md);
      opacity: 1;
    }

    .layout-link__popover--navigation {
      right: 52px;
    }

    .layout-link__popover--socials {
      left: 52px;
    }
  }
}

.layout-link__popover {
  position: absolute;
  transition: all 0.1s ease-in-out;

  font-size: 0px;
  opacity: 0;
}

.layout-link__popover--navigation {
  right: 32px;
}

.layout-link__popover--socials {
  left: 32px;
}

@media screen and (max-width: 1200px) {
  .layout-link {
    &:hover {
      .layout-link__popover--navigation {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 52px;
      }

      .layout-link__popover--socials {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: 52px;
      }
    }
  }

  .layout-link__popover--socials {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
  }

  .layout-link__popover--navigation {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
  }
}
